*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rebeccapurple;
  padding: 2rem 0;
  color: white;
  letter-spacing: 0.06rem;
  width: 100vw;
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 4rem);
}
button {
  display: flex;
  justify-content: center;
}
img[alt='chuck norris'] {
  min-height: 30vh;
  padding-block-start: 1rem;
  width: 50%;
}
button {
  padding: 0.5rem 1rem;
  background: linear-gradient(to left, #d35183, #cc6724, #a72fa7, #c5b30d);
  font-size: 1.3rem;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
  border: 2px solid white;
  border-radius: 7px;
  transition: 300ms scale ease-in-out;
}
button:hover {
  cursor: pointer;
  translate: -5px -5px;
}
body {
  background: rgb(39, 39, 39);
}
